* {
  font-family: sans-serif;
  box-sizing: border-box;
}

html,
body {
  background: url(images/back.jpg) no-repeat center center fixed;
  background-size: cover;
  max-width: 448px;
  padding: 0;
  margin: auto;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding-top: 15px;
  padding-right: 24px;
  position: relative;
}

.menu {
  width: 36px;
  aspect-ratio: 1;
  background: linear-gradient(rgb(152, 149, 149) 50%, #0000 0) 0 0/100% 40%;
}

#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 327px;
  height: 100px;
}

h1 {
  font-size: 48px;
  color: #7d73fc;
  line-height: 27px;
  text-align: center;
  font-weight: 700;
  padding-left: 49px;
  margin-left: 50px;
  width: 326px;
}

h2 {
  font-weight: 500;
  font-size: 27px;
  padding-left: 35px;
  margin-left: 33px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #edecff;
}

#flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#textpart {
  width: 325px;
  vertical-align: top;
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-left: 54px;
  padding-right: 24px;
}

p {
  width: 327px;
  height: 170px;
  padding-top: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #c8c8d4;
}

.flex-container {
  flex-wrap: wrap;
  width: 320px;
  height: 100%;
  padding: 18px 8px 16px 20px;
}

table {
  color: aliceblue;
  text-align: left;
  border-spacing: 5px;
  padding-top: 15px;
}

td,
th {
  text-align: left;
  justify-content: space-between;
}

td {
  width: 410px;
  align-items: center;
  color: #efeff7;
  font-weight: 400;
  font-size: 15px;
  justify-content: space-between;
}

#tb {
  padding-top: 30px;
}

#social {
  padding-top: 30px;
  justify-content: space-between;
  padding-left: 90px;
}

#media {
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 30px;
  width: 200px;
  height: 40px;
}

#work {
  padding-left: 59px;
}
